.container {
    height: 100%;
    
    .col {
        float: left;
        height: inherit;
        width: 30%;

        &:last-child {
            width: auto;
            float: none;
            overflow: hidden;
            background-color: aqua;
        }
    }
}